<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>西门吹雪</string>
		<key>dec</key>
		<string>在北京西门被雪吹死了</string>
		<key>loc</key>
		<string>北京</string>
		<key>image</key>
		<string>1001</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>西门抽筋</string>
		<key>dec</key>
		<string>在南京西门抽筋而亡</string>
		<key>loc</key>
		<string>南京</string>
		<key>image</key>
		<string>1002</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>西门抽血</string>
		<key>dec</key>
		<string>在上海西门抽血而死</string>
		<key>loc</key>
		<string>上海</string>
		<key>image</key>
		<string>1003</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>西门吹水</string>
		<key>dec</key>
		<string>在广州西门吹水而亡</string>
		<key>loc</key>
		<string>广州</string>
		<key>image</key>
		<string>1004</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>西门吹牛</string>
		<key>dec</key>
		<string>在高雄西门吹牛而亡</string>
		<key>loc</key>
		<string>高雄</string>
		<key>image</key>
		<string>1005</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>西门抽刀</string>
		<key>dec</key>
		<string>在香港西门抽刀而亡</string>
		<key>loc</key>
		<string>香港</string>
		<key>image</key>
		<string>1006</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>西门洗牌</string>
		<key>dec</key>
		<string>在澳门西门洗牌而死</string>
		<key>loc</key>
		<string>澳门</string>
		<key>image</key>
		<string>1007</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>西门种田</string>
		<key>dec</key>
		<string>在南昌西门种田而死</string>
		<key>loc</key>
		<string>南昌</string>
		<key>image</key>
		<string>1008</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>西门庆</string>
		<key>dec</key>
		<string>在兰州西门庆死</string>
		<key>loc</key>
		<string>兰州</string>
		<key>image</key>
		<string>1009</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>西门吹靴</string>
		<key>dec</key>
		<string>在厦门西门吹靴而死</string>
		<key>loc</key>
		<string>厦门</string>
		<key>image</key>
		<string>1010</string>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>西门抽皮</string>
		<key>dec</key>
		<string>在宁夏西门抽皮而死</string>
		<key>loc</key>
		<string>宁夏</string>
		<key>image</key>
		<string>1011</string>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>西门抽骨</string>
		<key>dec</key>
		<string>在新疆西门吹靴而死</string>
		<key>loc</key>
		<string>新疆</string>
		<key>image</key>
		<string>1012</string>
	</dict>
	<key>13</key>
	<dict>
		<key>name</key>
		<string>西门吹风</string>
		<key>dec</key>
		<string>在开平西门吹风而死</string>
		<key>loc</key>
		<string>开平</string>
		<key>image</key>
		<string>1013</string>
	</dict>
</dict>
</plist>
